.flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 700px;
    align-items: center;
  }

.add-border {
  padding: 50px 100px;
  border: 1px solid black;
  border-radius: 25px;
}

.center-hori {
  text-align: center;
}